@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

* {
    font-family: 'JetBrains Mono', monospace;
    background-color: #191825;
    // color: #865DFF;
    text-decoration: none;
    overflow-x: hidden;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    font-size: 20px;
    color: #E384FF;
}

.short {
    display: none;
}

a {
    margin-left: 1rem;
    margin-right: 1rem;
    color: #E384FF;
}

// .logologo {
//     text-align: center;
// }
#icons {
    margin: 1rem;
}

.statements {
    color: white;
    margin: 3rem;
}

h1,
h3 {
    color: #E384FF;
}